body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue',sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.titulo-lista, ul {
  margin: 0;
  padding: 10px;
  border: 1px solid #000;
  background-color: #195ceb;
  color: #fff;
  width: 200px;
}

ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  border: 1px solid #000;
  border-top: none;
  border-radius: 0px 0px 15px 15px;
}

.titulo-lista {
  border-radius: 15px 15px 0px 0px;
}